.infoVac{
    font-size: 14px;
}

.vacancy{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 450px 1fr;
    width: 750px;
}

.imgcool{
    margin-bottom: 50px;
}

.textVacancy{
    margin-left: 50px;

}

.phoneVacancy{
    margin-left: 50px;
}

.phoneVacancy p{
    font-weight: bold;
}








